
/* inizio header*/
header{
    margin: -1%;
    padding: 0%;
}
.head{
    background-color:rgb(81,125, 193) ;
    background-image: url(img/pattern.png);
}
#logo{
    margin-top: 5%;
    margin-left: 5%;
    width: 30%;
}
/* prima section */
.title h1{
    font-size: 50px;
}
.info{
    color: rgb(168,168,168);
}
.info a{
    color:rgb(81,125, 193) ;
    text-decoration: none;
}
.imgberners-lee img{
    width: 45%;
}
.title p{
    font-size: 10px;
}
.highlighted{
    background-color: yellow;
}
/* seconda section */
/* tabella */
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
    width: 30%;
}
.alternate {
    background-color: rgb(188,277,240);
}
th {
    background-color: rgb(81,166,224);
    color: white;
}
/* footer */
.tiltle-img{
    color: white;
}
#monitorimg{
    background-image: url(img/monitor.jpg);
    width: 300px;
    height: 200px;
}
#graphimg{
    width: 300px;
    height: 200px;
    background-image: url(img/graph.jpg);
}
