*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    background-color:rgb(81,125, 193) ;
    background-image: url(img/pattern.png);
}
#logo{
    margin-top: 5%;
    width: 30%;
}
.title h1{
    font-size: 50px;
}
.info{
    color: rgb(168,168,168);
}
.info a{
    color:rgb(81,125, 193) ;
    text-decoration: none;
}
.imgberners-lee img{
    width: 45%;
}
.title p{
    font-size: 10px;
}